body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clean{
  text-decoration: none;
}

.brand {
  background-color: #61218f;
}

.light {
  background-color: #efd1f0;
}

.logo {
  width: 10em;
}

.background-image {
  height:40em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./images/Studio.png");
}

.home-image {
  width: 5em;
  height: 5em;
}

.album-image {
  width: 15em;
  height: 15em;
}