body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clean{
  text-decoration: none;
}

.brand {
  background-color: #61218f;
}

.logo {
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.album-image {
  width: 15em;
  height: 15em;
}